.highlights{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:25px;
    padding:60px 8%;
    background:#111827;
}

.highlight-card{
    background:#1e293b;
    border-radius:20px;
    padding:35px;
    text-align:center;
    transition:.4s;
    border:1px solid #334155;
}

.highlight-card:hover{
    transform:translateY(-10px);
    border-color:#38bdf8;
    box-shadow:0 0 25px rgba(56,189,248,.35);
}

.highlight-icon{
    font-size:45px;
    color:#38bdf8;
    margin-bottom:15px;
}

.highlight-card h2{
    font-size:40px;
    color:white;
    margin:10px 0;
}

.highlight-card p{
    color:#cbd5e1;
    font-size:18px;
}