.navbar{

position:fixed;

top:0;

left:0;

width:100%;

padding:18px 8%;

display:flex;

justify-content:space-between;

align-items:center;

background:rgba(15,23,42,.85);

backdrop-filter:blur(12px);

z-index:999;

}

.logo{

font-size:28px;

font-weight:bold;

color:white;

}

.logo span{

color:#38bdf8;

}

.navbar ul{

display:flex;

gap:35px;

list-style:none;

}

.navbar ul li{

cursor:pointer;

color:white;

font-weight:500;

transition:.3s;

}

.navbar ul li:hover{

color:#38bdf8;

}

.resume-btn{

background:#38bdf8;

color:black;

padding:12px 22px;

border-radius:8px;

font-weight:bold;

}

.resume-btn:hover{

background:white;

}